<div class="container">
  <h1>Lists of FoodPlaces</h1>
  <div class="cards">
    <% @foodplaces.each do |foodplace| %>
        <div class="card mb-4">
        <%= link_to foodplace_path(foodplace) do %>
          <div class="container">
            <div class="card-title">
              <p>Name: <span><%= foodplace.name %></span></p>
            </div>
            <p><%= foodplace.address %></p>
            <p><%= foodplace.phone_number %></p>
            <p><%= foodplace.type %></p>
            <p><%= foodplace.cuisine %></p>
            <p><%= foodplace.website %></p>
            <p><%= foodplace.google_rating %></p>
            <p><%= foodplace.opening_times %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
