<div class="container">
  <h1>Lists of FoodPlaces</h1>
  <div class="cards">
    <% @foodplaces.each do |foodplace| %>
        <div class="card mb-4">
        <%= link_to foodplace_path(foodplace) do %>
          <div class="container">
            <% if foodplace.photo.present? %>
              <%= cl_image_tag foodplace.photo.key, :width => 150, :height => 150, crop: :fill %>
            <% else %>
              <img src="https://imgflip.com/s/meme/Grandma-Finds-The-Internet.jpg" />
            <% end %>
            <div class="card-title">
              <p>Name: <span><%= foodplace.name %></span></p>
            </div>
            <p><%= foodplace.address %></p>
            <p><%= foodplace.phone_number %></p>
            <p><%= foodplace.category %></p>
            <p><%= foodplace.cuisine %></p>
            <p><%= foodplace.website %></p>
            <p><%= foodplace.google_rating %></p>
            <p><%= foodplace.opening_times %></p>
          </div>
        <% end %>
      </div>
    <% end %>
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
