<!--<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
-->

<div class="container mt-5">
  <h1>Lists of FoodPlaces</h1>
  <div class="card-wrap">
    <% @foodplaces.each do |foodplace| %>
        <div class="card-thumbnail">
        <%= link_to foodplace_path(foodplace) do %>
          <div class="card-image">
            <% if foodplace.photo.present? %>
              <%= cl_image_tag foodplace.photo.key %>
            <% else %>
              <img src="https://imgflip.com/s/meme/Grandma-Finds-The-Internet.jpg" />
            <% end %>
            </div>
              <h4><span><%= foodplace.name %></span></h4>
                <h6><%= foodplace.address %></h6>
                <p>rating<%= foodplace.google_rating %></p>
                <p><%= foodplace.opening_times %></p>
        <% end %>
        </div>
    <% end %>
     </div>
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>


<div class=“card” style=“width: 18rem;“>
  <img src=“https://source.unsplash.com/random/?restaurant” class=“card-img-top” alt=“...“>
  <div class=“card-body”>
    <h2 class=“card-text”>Some quick example text</p>
  </div>
  <div>
  <p>something else</p>
  </div>
</div>
</div>
