<!--<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
-->

<div class="warpper">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <%= form_with url: foodplaces_path, method: :get, class: "d-flex"  do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "search for a foodplace"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="container"></div>
  <%# <h1>FoodPlaces</h1> %>


  <div class="card-wrap">
    <% @foodplaces.each do |foodplace| %>
      <div class="card-thumbnail">
        <div class="card-single">
          <%= link_to foodplace_path(foodplace), class: "w-100" do %>
            <div class="card-image">
              <% if foodplace.photo.present? %>
                <%= cl_image_tag foodplace.photo.key %>
                <%= link_to favorite_foodplace_path(foodplace, scope: :favorite), data: { turbo_method: :patch } do %>
                  <i class="fa-regular fa-heart icon-index "></i>
                <% end %>
                <%= link_to favorite_foodplace_path(foodplace, scope: :saved), data: { turbo_method: :patch } do %>
                  <i class="fa-regular fa-bookmark icon-index "></i>
                <% end %>
                <%= link_to favorite_foodplace_path(foodplace, scope: :visited), data: { turbo_method: :patch } do %>
                  <i class="fa-regular fa-circle-check icon-index "></i>
                <% end %>
              <% else %>
                <img src="https://imgflip.com/s/meme/Grandma-Finds-The-Internet.jpg" />
              <% end %>
            </div>
            <div class="card-info-wrapper">
              <h4><%= foodplace.name %></h4>
              <p><%= foodplace.address %></p>
              <% if foodplace.opening_times.present? %>
              <p><%= foodplace.opening_times %></p>
              <% end %>
              <div class="rating d-flex">
                <% i = 0  %>
                <% while i < foodplace.google_rating.to_i.round %>
                  <div class="circle"></div>
                  <% i +=1 %>
                <% end %>
              </div>
            </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
