<div class="container">
  <!--add images -->
  <div>
    <%= @foodplace.name %>
    <%= @foodplace.cuisine %>
    <%= @foodplace.google_rating %>
    <%= @foodplace.opening_times %>
  </div>
  <div>
    <!--delivery button -->
    <%= @foodplace.phone_number %>
    <%= @foodplace.website %>
  </div>
  <div>
    <%= @foodplace.address%>
    <!--add map -->
  </div>
</div>


 <div>
 </div>
