<div class="container">
  <div class="card-title">
    <div class="card mb-4">
      <p><%= @foodplace.address %></p>
      <p><%= @foodplace.phone_number %></p>
      <p><%= @foodplace.type %></p>
      <p><%= @foodplace.cuisine %></p>
      <p><%= @foodplace.website %></p>
      <p><%= @foodplace.google_rating %></p>
      <p><%= @foodplace.opening_times %></p>
    </div>
  </div>
</div>
