<div class="container">
  <!--add images -->
  <div>
    <%= @foodplace.name %>
    <%= @foodplace.cuisine %>
    <%= @foodplace.google_rating %>
    <%= @foodplace.opening_times %>
  </div>
  <div>
    <!--delivery button -->
    <%= @foodplace.phone_number %>
    <%= @foodplace.website %>
  </div>
  <div>
    <%= @foodplace.address%>
    <!--add map -->
  </div>
</div>


 <div>
 </div>

  <div class="card-title">
    <div class="card mb-4">
      <p><%= @foodplace.address %></p>
      <p><%= @foodplace.phone_number %></p>
      <p><%= @foodplace.category %></p>
      <p><%= @foodplace.cuisine %></p>
      <p><%= @foodplace.website %></p>
      <p><%= @foodplace.google_rating %></p>
      <p><%= @foodplace.opening_times %></p>
    </div>
  </div>
</div>
