<div class="container">
  <% if @foodplace.photo.attached?%>
    <%= cl_image_tag @foodplace.photo.key, height: 150, width: 150, crop: :fill %>
  <% else %>
    <img src="https://imgflip.com/s/meme/Grandma-Finds-The-Internet.jpg" />
  <% end %>
  <div>
    <div class="info d-flex">
      <h2><%= @foodplace.name %></h2>
      <div class="ratings">
        <h3>User rating <%= @foodplace.average_rating %></h3>
        <h4>Google rating <%= @foodplace.google_rating %></h4>
      </div>
    </div>
    <!-- Button trigger modal -->
    <hr>
    <div class="show-btns d-flex align-items-center">
      <button type="button" class="btn  show-btn fa-3x my-2" data-bs-toggle="modal" data-bs-target="#review">
        <i class="fa-solid fa-star"></i>
      </button>
      <button type="button" class="btn  show-btn fa-3x my-2">
        <i class="fa-regular fa-heart"></i>
      </button>
      <button type="button" class="btn  show-btn fa-3x my-2">
        <i class="fa-regular fa-bookmark"></i>
      </button>
      <button type="button" class="btn show-btn fa-3x my-2">
        <i class="fa-solid fa-globe"></i>
      </button>
    </div>
    <hr>
  </div>
  <div>
  <h5>info:</h5>
    <%= @foodplace.opening_times %>
    <br>
    cuisine: <%= @foodplace.cuisine %>
    <br>
    tel: <%= @foodplace.phone_number %>
    <br>
  </div>
  <div>

    <!--add map -->
    <div id="map" style="width: 100%; height: 200px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    address: <%= @foodplace.address%>
    <!------------>
  </div>


<%# make a revue %>


<!-- Modal -->
  <div class="modal fade" id="review" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!--add review -->
          <h2>
            <%= pluralize @foodplace.reviews.size, "review" %>
          </h2>
          <div data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">
            <div data-insert-in-list-target="items">
            <!-- [...] -->
            </div>
            <%= simple_form_for([@foodplace, @review],
              data: {
              insert_in_list_target: "form",
              action: "submit->insert-in-list#send"
            }) do |f| %>
              <%= f.input :date %>
              <%= f.input :rating, collection: (1..5).to_a, label: "Overall rating",
              input_html: {data: {controller: "star-rating"}} %>
              <%= f.input :cleanliness, collection: (1..5).to_a, label: "clearness:",
              input_html: {data: {controller: "star-rating"}} %>
              <%= f.input :service, collection: (1..5).to_a, label: "service:",
              input_html: {data: {controller: "star-rating"}} %>
              <%= f.input :highlight %>
              <%= f.input :comment %>
              <%= f.button :submit, class:"btn btn-primary" %>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#comments">
    User reviews
  </button>

<!-- Modal -->
  <div class="modal fade" id="comments" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">User reviews</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% if @foodplace.reviews.blank? %>
          Be the first to leave a review for "<%= @foodplace.name %>"
        <% else %>
          <% @foodplace.reviews.each do |review| %>
          <div class="review-card my-2">
            <h4><%= current_user.nickname %></h4>
            <h4><%= review.comment %></h4>
            <p><%= review.created_at %></p>
            <hr>
          </div>
          <% end %>
        <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    <div class=" container card-body my-2">
      <div class="centered">
      </div>
    </div>
</div>
