<div class="container">
  <% if @foodplace.photo.attached?%>
    <%= cl_image_tag @foodplace.photo.key, height: 200, width: 150, crop: :fill, class: "show-img" %>
  <% else %>
    <img src="https://imgflip.com/s/meme/Grandma-Finds-The-Internet.jpg" />
  <% end %>
  <div>
    <div class="info">
      <h2 class="mb-3"><%= @foodplace.name %></h2>
      <div class="ratings-card">
        <% if @foodplace.average_rating.zero?  %>
          <h2>No user rating so far</h2>
        <% else %>
          <h2>User rating <%= @foodplace.average_rating %></h2>
        <% end %>
        <h4>Google rating <%= @foodplace.google_rating %></h4>
      </div>
    </div>
    <!-- Button trigger modal -->
    <hr>
    <div class="d-flex justify-content-between">
      <%# <button type="button" class="btn  show-btn fa-3x my-2" data-bs-toggle="modal" data-bs-target="#review">
        <i class="fa-solid fa-star"></i>
      </button> %>
      <div>
        <button type="button" class="btn  ">
          <i class="fa-regular fa-heart show-btn fa-3x my-2"></i>

        </button>
      </div>
      <div>
        <button type="button" class="btn">
          <i class="fa-regular fa-bookmark show-btn fa-3x my-2"></i>

        </button>
      </div>
      <div>
        <button type="button" class="btn">
          <i class="fa-solid fa-globe show-btn fa-3x my-2"></i>

        </button>
      </div>
    </div>
    <hr>
  </div>

<!-- Modal -->
  <div class="modal fade" id="review" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!--add review -->
          <h2>
            <%= pluralize @foodplace.reviews.size, "review" %>
          </h2>
          <div data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">
            <div data-insert-in-list-target="items">
            <!-- [...] -->
            </div>
            <%= simple_form_for([@foodplace, @review],
              data: {
              insert_in_list_target: "form",
              action: "submit->insert-in-list#send"
            }) do |f| %>
              <%= f.input :date %>
              <%= f.input :rating, collection: (1..5).to_a, label: "Overall rating",
              input_html: {data: {controller: "star-rating"}} %>
              <%= f.input :cleanliness, collection: (1..5).to_a, label: "Cleanliness:",
              input_html: {data: {controller: "star-rating"}} %>
              <%= f.input :service, collection: (1..5).to_a, label: "Service:",
              input_html: {data: {controller: "star-rating"}} %>
              <%= f.input :highlight %>
              <%= f.input :comment %>
              <%= f.button :submit, class:"btn btn-primary" %>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<%# SHOW-TABS---------------------------------------------------------------------------------------------------- %>
  <div class="show-tabs my-2">
    <div class="w-100">
      <ul class="nav nav-pills mb-2 justify-content-between" id="pills-tab" role="tablist">
        <li class="nav-item pe-3 flex-fill w-50" role="presentation">
          <button class="nav-link active w-100" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Info</button>
        </li>
        <li class="nav-item flex-fill w-50" role="presentation">
          <button class="nav-link w-100" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Reviews</button>
        </li>
      </ul>
    </div>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <hr>
      <!--add map -->
      <div id="map" class="mb-5"style="width: 100%; height: 200px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
        <h4><%= @foodplace.address %></h4>
        <hr>
        <h4>Category: <%= @foodplace.category %></h4>
        <hr>
        <h4>Cuisine:  <%= @foodplace.cuisine %></h4>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="reviews">
          <% if @foodplace.reviews.blank? %>
            Be the first to leave a review for "<%= @foodplace.name %>"
          <% else %>
          <% @foodplace.reviews.each do |review| %>
            <div class="container review-card my-2">
              <h4><%= current_user.nickname %></h4>
              <h4>"<%= review.comment %>"</h4>
              <p><%= review.created_at.strftime("%B %d, %Y") %></p>
              <hr>
            </div>
            <% end %>
          <% end %>
          <button type="button" class="btn w-100  btn-primary" data-bs-toggle="modal" data-bs-target="#review">
            Leave a review
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
