<div class="d-flex flex-column">
  <div class="d-flex flex-column align-items-center">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, :class => "profile_picture"%>
    <% else %>
        <img src="https://imgflip.com/s/meme/Grandma-Finds-The-Internet.jpg" class = "profile_pic"/>
    <% end %>
    <div class="d-flex justify-content-center">
      <%= @user.first_name %>
      <%= @user.last_name %>
    </div>
  </div>
  <div class="d-flex flex-column mx-4 my-2 p-3 border shadow rounded">
    <p>First name: <%= @user.first_name %></p>
    <p>Last name: <%= @user.last_name %></p>
    <p>Email-address: <%= @user.email %></p>
  </div>

  <div class="d-flex flex-column mx-4 my-2 p-3 border shadow rounded">
    <p>Nickname: <%= @user.nickname %></p>
    <p>Diet: <%= @user.diet %></p>
    <p>Likes:<%= @user.likes %></p>
    <p>Dislikes: <%= @user.dislikes %></p>
    <p>Allergie: <%= @user.allergies %></p>
    <p>Bio: <%= @user.bio %></p>
  </div>
  <%# <% Favorite.favorite_list.each do |F| %> %>
    <%# <%=  f %> %>
  <%# <% @favorites.each do |fav| %>
  <%# <% end %> %>

</div>
