<div class="container mt-5">
  <%= form_with url: users_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "search for a user"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <h1 class="users-title">ALL FOODIES</h1>
  <% @users.each do |user| %>
    <% unless current_user == user %>
      <div class="new-card">
        <%= link_to profile_path(user), class: 'd-flex align-items-center'  do %>
          <div class="avatar-large pe-3">
            <%= cl_image_tag user.photo.key if user.photo.attached?%>
          </div>
          <h2 class="user-name-text"><%= user.nickname%></h2>
        <% end %>
        <% if current_user.following?(user) %>
          <%= link_to unfollow_user_path(current_user, user: user), data: { turbo_method: :post } do %>
            <i class="fa-solid fa-user-minus fa-2x"></i>
          <% end %>
        <% else %>
          <%= link_to follow_user_path(current_user, user: user) , data: { turbo_method: :post } do %>

            <i class="fa-solid fa-user-plus fa-2x"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
